.main-content small{
  letter-spacing: 2px;
}
html {
    scroll-behavior: smooth;
  }

@media screen and (max-width:1024px){
  .main-content{
    flex-direction: column;
  }

  .image{
    margin:auto;
    text-align:left;
  }
  .item{
    margin:auto;
    text-align:Center
  }

.btn1{
  justify-content: center;
  width:100%;
  margin:40px auto
}
  .item p{
    margin:auto;
    text-align:Center
  }
}